body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 20px;
}

#container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

#container div {
  width: 100px;
  height: 100px;
  flex: 0 0 auto;
}

button {
  margin: 0;
}
