body,
html {
  height: 100%;
}

#container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

#container div {
  width: 100px;
  height: 100px;
  flex: 0 0 auto;
}
